.login-form {
    width: 80%; /* Ширина формы */
    margin: auto; /* Размещаем весь элемент по центру */
    display: flex;  /* Создаем flex контейнер */
    align-items: center; /* Все элементы будут по центру */
    flex-direction: column; /* Все элементы будут размещены вертикально */
}

input {
    margin-top: 300px; /* Добавляем немного расстояния между input */
    width: 100%; /* Ширина формы */
}

button {
    margin-top: 20px; /* Добавляем немного расстояния между input и кнопкой */
}