    <title>Avito searcher</title>
    <link rel="stylesheet" href= "/static/css/cart.css">
    <link rel="stylesheet" type="text/css" href="static/css/products.css">
<p><button onclick="window.location.href = 'http://127.0.0.1:5000/avito';">Назад</button>
<button onclick="window.location.href = 'http://127.0.0.1:5000';">Новый запрос</button></p>
<div>
    <table>
      <tr>
        <th>Запрос</th>
        <th>Дата/Время</th>
      </tr>
        {% for row in data %}
          <tr>
            <td>{{row.text_input}}</td>
            <td>{{row.date}}</td>
          </tr>
        {% endfor %}    
    </table>
</div>
